main.about {
    .section-content {
        >.inner {
            @include inner;
            >.head {
                font-size: 2.4rem;
                color: $green;
                font-weight: bold;
                text-align: center;
                @media screen and (min-width: $tablet) {
                    font-size: 3.2rem;
                }
            }
        }
        &.page-head {
            background-image: url(assets/img/page-head-local-partner-recruit.jpg);
        }
        &.about {
            padding-bottom: 100px;
            .logo {
                max-width: 340px;
                margin: 0 auto;
                margin-top: 60px;
                img {
                    @include img;
                }
            }
            .copy {
                font-size: 2rem;
                margin-top: 30px;
                text-align: center;
            }
            .text {
                font-size: 1.6rem;
                margin: 0 auto;
                margin-top: 30px;
                max-width: 900px;
            }
            .img {
                margin: 0 auto;
                margin-top: 80px;
                max-width: 540px;
                img {
                    @include img;
                }
            }
        }
        &.important {
            padding-bottom: 100px;
            >.inner {
                max-width: 920px;
            }
            .head {}
            .sub-head {}
            .col {
                margin-top: 30px;
                ul {
                    padding-left: 24px;
                }
            }
        }
        &.merit {
            padding-bottom: 100px;
            .head {}
            .sub-head {
                font-size: 1.6rem;
                margin-top: 10px;
                text-align: center;
            }
            // .col {
            //     margin-top: 30px;
            //     .inner {
            //         box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
            //         border-radius: 10px;
            //         padding: 30px 20px;
            //         .head {
            //             font-size: 2.4rem;
            //             color: $blue02;
            //             text-align: center;
            //             span {
            //                 font-size: 4.4rem;
            //             }
            //         }
            //         .sub-head {
            //             text-align: center;
            //             font-size: 2.2rem;
            //         }
            //         .img {
            //             max-width: 180px;
            //             margin: 0 auto;
            //             margin-top: 35px;
            //         }
            //     }
            // }
            .box {
                @include box;
                box-shadow: 0 0 10px #00000029;
                margin-top: 20px;
                padding: 20px;
                position: relative;
                &.merit01,
                &.merit02,
                &.merit03 {
                    .img {
                        &.primary {
                            float: right;
                            @media screen and (min-width: $tablet) {
                                display: none;
                            }
                        }
                        &.secondary {
                            display: none;
                            @media screen and (min-width: $tablet) {
                                display: block;
                                max-width: 180px;
                                margin: 0 auto;
                            }
                        }
                        img {
                            @include img;
                        }
                    }
                    .head {
                        color: $blue;
                        span {
                            font-size: 4.4rem;
                        }
                    }
                    .sub-head {
                        text-align: left;
                        font-size: 1.6rem;
                        @media screen and (min-width: $tablet) {
                            font-size: 2.2rem;
                            text-align: center;
                        }
                    }
                }
            }
            .row {
                .head {
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-align: left;
                    color: $blue;
                    margin-top: 30px;
                    @media screen and (min-width: $tablet) {
                        text-align: center;
                    }
                }
                .col {
                    margin-top: 30px;
                    a {
                        @include box;
                        padding: 10px;
                        display: block;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                        text-decoration: none;
                        @media screen and (min-width: $tablet) {
                            text-align: center;
                        }
                    }
                }
                .button {
                    @include btn;
                    background-color: $blue02;
                    border-radius: 50px;
                    color: #fff;
                    padding: 5px;
                    font-size: 1.6rem;
                    margin-top: 30px;
                    line-height: 40px;
                    max-width: 360px;
                    &::after {
                        position: absolute;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f105";
                        right: 20px;
                    }
                }
            }
        }
        &.new {
            .inner {
                max-width: 900px;
                .img {
                    max-width: 240px;
                    margin: 0 auto;
                    margin-top: 40px;
                    @media screen and (min-width: $tablet) {
                        margin-right: 0;
                        margin-left: 60px;
                        float: right;
                    }
                    img {
                        @include img;
                    }
                    .head {
                        font-size: 2rem;
                        text-align: center;
                        span {
                            font-weight: bold;
                        }
                    }
                }
                .text {
                    margin-top: 40px;
                    font-size: 2rem;
                    line-height: 3.8rem;
                }
                .button {
                    @include btn;
                    @include gradient;
                    font-size: 2.4rem;
                    border-radius: 45px;
                    display: block;
                    color: #fff;
                    padding: 20px 0;
                    margin-top: 20px;
                    max-width: 400px;
                    margin-top: 140px;
                    margin-bottom: 80px;
                    &::after {
                        position: absolute;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f105";
                        right: 20px;
                    }
                }
            }
        }
        &.available {
            padding-top: 70px;
            padding-bottom: 100px;
            .sub-head {
                text-align: center;
                font-size: 1.6rem;
                margin-top: 3rem;
            }
            .row {
                .inner {
                    background-color: #fff;
                    padding: 20px;
                    margin-top: 40px;
                    min-height: 200px;
                    padding-top: 100px;
                    background-repeat: no-repeat;
                    background-size: 80px;
                    background-position: center top 10px;
                    @media screen and (min-width: $tablet) {
                        padding-top: 20px;
                        padding-left: 160px;
                        background-repeat: no-repeat;
                        background-size: 120px;
                        background-position: center left 20px;
                    }
                    &.products {
                        background-image: url(assets/img/about-available01.svg);
                    }
                    &.tour {
                        background-image: url(assets/img/about-available02.svg);
                    }
                    &.private {
                        background-image: url(assets/img/about-available03.svg);
                    }
                    &.codinator {
                        background-image: url(assets/img/about-available04.svg);
                    }
                    &.support {
                        background-image: url(assets/img/about-available05.svg);
                    }
                    &.wedding {
                        background-image: url(assets/img/about-available06.svg);
                    }
                    &.study {
                        background-image: url(assets/img/about-available07.svg);
                    }
                    &.sdgs {
                        background-image: url(assets/img/about-available08.svg);
                    }
                    .head {
                        font-size: 2rem;
                    }
                    .text {
                        font-size: 1.6rem;
                        margin-top: 10px;
                    }
                }
            }
        }
        &.category-navi {
            @include category-navi;
        }
    }
}