main.information,
main.information-category,
main.information-post {
    width: 100%;
    .section-content {
        &.posts {
            padding-bottom: 100px;
            .section-head {
                font-size: 4rem;
                color: $blue02;
                font-weight: bold;
                text-align: center;
                margin-top: 50px;
                line-height: 4rem;
            }
            .inner {
                @include inner;
                @include flex;
                @include sb;
                @include wrap;
                >.head {
                    font-size: 2.4rem;
                    margin-top: 50px;
                }
                .sort {
                    @include flex;
                    @include wrap;
                    margin-top: 50px;
                    .head {
                        margin-left: 10px;
                        line-height: 4rem;
                    }
                    .select-wrap {
                        position: relative;
                        max-width: 480px;
                        border-radius: 4px;
                        margin-left: 10px;
                        &::after {
                            font-size: 1rem;
                            position: absolute;
                            right: 10px;
                            top: calc(50% - 13px);
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f078";
                        }
                        select {
                            @include form_input;
                            background-color: #fff;
                            text-overflow: ellipsis;
                            outline: none;
                            background-image: none;
                            box-shadow: none;
                            -webkit-appearance: none;
                            appearance: none;
                            padding-right: 20px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .posts {
                    width: 100%;
                    border-top: 1px solid #E4E4E4;
                    margin-top: 20px;
                    .post {
                        @include flex;
                        @include wrap;
                        padding: 20px 0;
                        font-size: 1.4rem;
                        border-bottom: 1px solid #E4E4E4;
                    }
                    .category {
                        font-size: 1.2rem;
                        border: 1px solid $blue;
                        color: $blue;
                        padding: 0 40px;
                        margin: 4px 20px;
                        line-height: 18px;
                    }
                    .title {
                        font-size: 1.6rem;
                        color: $blue02;
                    }
                }
            }
            .pagination-pc {
                @include pagination-pc;
            }
            .pagination-sp {
                @include pagination-sp;
            }
        }
        &.entry-content {
            position: relative;
            padding-top: 60px;
            padding-bottom: 100px;
            padding-bottom: 60px;
            .inner {
                @include inner;
                @include entry_content;
                .info {
                    @include flex;
                    @include wrap;
                    margin-top: 20px;
                    line-height: 20px;
                    .category {
                        padding: 0 10px;
                        margin-left: 20px;
                        border: 1px solid $blue;
                        border-radius: 2px;
                        color: $blue;
                    }
                }
                .title {
                    font-size: 3.2rem;
                    color: $blue;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    line-height: 4.3rem;
                    font-weight: normal;
                }
                .pager {
                    margin-top: 60px;
                    text-align: center;
                    a {
                        text-decoration: none;
                    }
                    .index {
                        padding: 4px 50px;
                        background-color: $blue;
                        color: #fff;
                        margin: 0 10px;
                    }
                    .fas {
                        font-size: 2rem;
                        color: $blue;
                    }
                }
            }
        }
    }
}