.contents-wrap.mypage-profile {

    .aside {
        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
        }
    }

    .main {
        margin-top: 0px;
        @media screen and (min-width: $tablet) {
            margin-top: 40px;
        }


        .form {
            padding-bottom: 20px;
            @media screen and (min-width: $tablet) {
                font-size: 1.6rem;
                padding-top: 30px;
            }

            .form-box {
                &:nth-child(n+2) {
                    margin-top: 30px;
                }

                &.form-box-sm-margin {
                    margin-top: 10px;
                }

                &.form-box-submit {
                    text-align: center;
                    @media screen and (min-width: $tablet) {
                        text-align: right;
                    }
                    .btn {
                        width: 100%;
                        max-width: 268px;
                    }
                }

                &.form-box-narrow-margin-top {
                    margin-top: 20px;
                }

                .form-header {
                    display: flex;

                    .form-title {
                        font-size: 1.6rem;
                    }
                    .form-title-lg {
                        font-size: 1.6rem;
                        font-weight: 600;
                        @media screen and (min-width: $tablet) {
                            font-size: 1.8rem;
                        }
                    }

                    .require {
                        margin-left: 10px;
                        font-size: 1.4rem;
                        background-color: #FC4848;
                        color: #fff;
                        padding-left: 6px;
                        padding-right: 6px;
                        &::after{
                            content: '必須';
                        }
                    }
                
                }

                .form-description-blue {
                    font-size: 1.4rem;
                    color: $blue02;
                }
                .form-description {
                }

                .form-note-text {
                    font-size: 1.4rem;
                }


                .form-content {
                    margin-top: 10px;

                    &.form-content-flex {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        column-gap: 20px;
                        margin-top: 10px;

                        .form-content-item { 
                            &:nth-child(n+2) {
                                @media screen and (min-width: $tablet) {
                                    margin-left: 10px;
                                }
                            }

                            &.form-content-item-zipmark {
                                margin-right: -15px;
                                padding-top: 2px;
                                @media screen and (min-width: $tablet) {
                                    margin-right: -15px;
                                }
                            }
                            @media screen and (min-width: $tablet) {
                                &:nth-child(n+2) {
                                    margin-left: 0px;
                                }
                            }

                            .form-content-item-title {
                            }
                            .form-content-item-content {
                            }
                        }

                    }

                    &.form-content-flex-no-wrap {
                        flex-wrap: nowrap;
                    }

                    &.form-content-flex-width-full {
                        .form-content-item {
                            width: 100%;
                        }
                    }

                    &.form-content-flex-aligh-top {
                        align-items: flex-start;   
                    }

                    &.form-content-flex-even {
                        @media screen and (min-width: $tablet) {
                            display: flex;
                            column-gap: 60px;
                        }

                        .form-content-item {
                            width: 100%;
                            &:nth-child(n+2) {
                                margin-top: 10px;
                            }
                            @media screen and (min-width: $tablet) {
                                margin-top: 0px;
                                &:nth-child(n+2) {
                                    margin-top: 0px;
                                }
                            }
                        }
                    }

                    &.form-content-flex-even-sp {
                        .form-content-item {
                            width: calc(100%/2 - 10px);
                            @media screen and (min-width: $tablet) {
                                width: auto;
                            }
                        }
                    }

                    .form-content-item { 
                        position: relative;
                        
                        &.form-content-item-no-shrink {
                            flex-shrink: 0;
                        }

                        .form-content-item-img-preview {
                            border-radius: 4px;
                            border: 1px solid #B1B1B1;
                            overflow: hidden;
                            line-height: 0;
                            width: 100%;
                            height: 100%;
                            max-width: 250px;
                            max-height: 150px;
                            img {
                                width: 100%;
                                line-height: 0;
                            }
                        }
                        .form-content-item-file {
                            margin-top: 6px;
                            margin-bottom: 6px;
                            flex-shrink: 0;              
                            @media screen and (min-width: $tablet) {
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }      
                        }
                    }

                    .form-content-textarea-item {
                        position: relative;
                        width: 100%;
                        
                        &::before {
                            content: "";
                            display: block;
                            padding-bottom: 36.33%;
                            @media screen and (min-width: $tablet) {
                                padding-bottom: 16.33%;
                            }
                        }

                        textarea {
                            // resize: none;
                            padding: 16px;
                            border: 1px solid #B1B1B1;
                            border-radius: 4px;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }

                    .form-content-img-delete {
                        color: $blue02;
                        text-decoration: underline;
                        font-size: 1.4rem;
                        cursor: pointer;
                    }

                }

            }

        }
        
    }
}