.contents-wrap.mypage-email-edit {

    .aside {
        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
        }
    }

    .main {
        margin-top: 0px;
        @media screen and (min-width: $tablet) {
            margin-top: 40px;
        }
    }
}