main.newers-guide {
    .section-content {
        .inner {
            @include inner;
            >.head {
                font-size: 2.4rem;
                color: $green;
                font-weight: bold;
                text-align: center;
                @media screen and (min-width: $tablet) {
                    font-size: 2.4rem;
                }
            }
        }
        &.page-head {
            background-image: url(assets/img/page-head-newers-guide.jpg);
            .name {
                line-height: 4rem;
                span {
                    font-size: 3rem;
                }
            }
        }
        &.navi {
            padding-top: 70px;
            .inner {
                >.text {
                    font-size: 2rem;
                    max-width: 900px;
                    margin: 0 auto;
                    margin-top: 30px;
                }
                .links {
                    max-width: 100%;
                    margin-top: 20px;
                    .link {
                        margin-top: 40px;
                        a {
                            display: block;
                            text-decoration: none;
                            text-align: center;
                            color: $gray02;
                            >span {
                                color: $black;
                                display: inline-block;
                                min-height: 60px;
                            }
                            .button {
                                @include btn;
                                padding: 5px 0 10px;
                                background-color: $green;
                                color: #fff;
                                border: none;
                                font-size: 2.4rem;
                                span {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.basic,
        &.standard,
        &.full {
            padding-top: 100px;
            padding-bottom: 120px;
            .inner {
                >.head {
                    background-color: $green;
                    color: #fff;
                    text-align: center;
                    font-size: 2.8rem;
                    padding: 10px 0;
                    span {
                        font-size: 1.8rem;
                    }
                }
                .row {
                    max-width: 1000px;
                    margin: 0 auto;
                    margin-top: 100px;
                    .col {
                        padding: 0 15px;
                        margin-top: 20px;
                        .img {
                            position: relative;
                            .step {
                                position: absolute;
                                color: $green;
                                font-size: 8rem;
                                line-height: 6rem;
                                top: -60px;
                                left: -50px;
                                @media screen and (min-width: $tablet) {
                                    font-size: 6.8rem;
                                }
                                span {
                                    font-size: 4rem;
                                }
                            }
                            img {
                                @include img;
                            }
                        }
                        .head {
                            font-size: 2.4rem;
                        }
                        .text {
                            font-size: 1.6rem;
                            margin-top: 20px;
                        }
                    }
                }
                .caption {
                    text-align: center;
                    font-size: 2.8rem;
                    margin-top: 120px;
                }
                .button {
                    @include btn;
                    @include gradient;
                    font-size: 2.4rem;
                    border-radius: 45px;
                    display: block;
                    color: #fff;
                    padding: 20px 0;
                    margin-top: 20px;
                    max-width: 600px;
                    &::after {
                        position: absolute;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f105";
                        right: 20px;
                    }
                }
                .form {
                    max-width: 700px;
                    margin: 0 auto;
                    .head {
                        font-size: 4rem;
                        font-weight: bold;
                        text-align: center;
                        color: $green02;
                        margin-top: 180px;
                    }
                    >.text {
                        text-align: center;
                        font-size: 1.6rem;
                        margin-top: 40px;
                    }
                    dl {
                        margin-top: 20px;
                        dt {
                            margin-top: 20px;
                            &.required {
                                &:after {
                                    content: '必須';
                                    background-color: $red;
                                    color: #fff;
                                    padding: 0 5px;
                                }
                            }
                        }
                        dd {
                            input[type="email"] {
                                padding-left: 40px;
                                background-image: url(assets/img/mail.svg);
                                background-repeat: no-repeat;
                                background-size: 20px;
                                background-position: left 10px center;
                            }
                            input[type="text"] {
                                padding-left: 40px;
                                background-image: url(assets/img/phone.svg);
                                background-repeat: no-repeat;
                                background-size: 20px;
                                background-position: left 10px center;
                            }
                        }
                    }
                    input,
                    textarea {
                        @include form_input;
                        border: 1px solid $blue;
                    }
                    .links {
                        @include flex;
                        @include wrap;
                        @include center;
                        list-style-type: none;
                        .link {
                            padding: 0 10px;
                        }
                    }
                    .privacy {
                        text-align: center;
                        .checkbox {
                            transform: scale(150%);
                            margin-right: 10px;
                            width: initial;
                        }
                    }
                    .button {
                        @include btn;
                        @include gradient;
                        font-size: 2.4rem;
                        border-radius: 45px;
                        display: block;
                        color: #fff;
                        padding: 20px 0;
                        margin-top: 20px;
                        max-width: 600px;
                        &::after {
                            position: absolute;
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f105";
                            right: 20px;
                        }
                    }
                }
            }
        }
        &.category-navi {
            @include category-navi;
        }
    }
}