main.recruit {
    .section-content {
        .inner {
            @include inner;
            >.head {
                font-size: 2.4rem;
                color: $green;
                font-weight: bold;
                text-align: center;
                @media screen and (min-width: $tablet) {
                    font-size: 2.4rem;
                }
            }
        }
        &.page-head {
            background-image: url(assets/img/page-head-recruit.jpg);
        }
        .contents {}
    }
}