main.signup-form,
main.signup-form-conf,
main.signup-form-thx {
    .section-content {
        padding-top: 60px;
        padding-bottom: 100px;
        .inner {
            @include inner;
            max-width: 600px;
            .states {
                @include states;
            }
            >.head {
                font-size: 2.8rem;
                text-align: center;
                margin-top: 60px;
            }
            .form {
                width: 100%;
                margin-top: 60px;
                .head {}
                table {
                    width: 100%;
                    border-bottom: 1px solid $gray;
                    tr {
                        @include flex;
                        @include wrap;
                        width: 100%;
                        >th {
                            width: 100%;
                            text-align-last: left;
                            padding: 20px 0;
                            padding-right: 50px;
                            position: relative;
                            font-weight: normal;
                            font-size: 1.6rem;
                            // &::after {
                            //     content: "任意";
                            //     position: absolute;
                            //     padding: 0 4px;
                            //     background-color: #888888;
                            //     color: #fff;
                            //     top: 20px;
                            //     right: 0px;
                            //     @media screen and (min-width: $tablet) {
                            //         right: 20px;
                            //     }
                            // }
                            &.reqired {
                                span {
                                    position: relative;
                                    &::after {
                                        content: "必須";
                                        padding: 0 2px;
                                        position: absolute;
                                        background-color: $red;
                                        color: #fff;
                                        right: -70px;
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                            &.mine {
                                span {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                        td {
                            width: 100%;
                            padding-top: 0px;
                            padding-bottom: 20px;
                            &.has-selecter {
                                @include flex;
                                @include wrap;
                                margin-left: -10px;
                                .select-wrap {
                                    width: initial;
                                    margin-right: 10px;
                                    margin-left: 10px;
                                    select {
                                        width: initial;
                                    }
                                }
                            }
                            &.input-with-initial {
                                input {
                                    width: initial;
                                }
                            }
                            table {
                                width: 100%;
                                tr {
                                    @include flex;
                                    @include wrap;
                                }
                                th {
                                    width: 30%;
                                    padding-right: 0;
                                    font-weight: normal;
                                }
                                td {
                                    width: 70%;
                                    padding-left: 0;
                                    input {
                                        width: 40px !important;
                                    }
                                    span {
                                        font-size: 2.4rem;
                                    }
                                }
                            }
                            &.checkboxs {
                                .item {
                                    margin-right: 20px;
                                }
                                input {
                                    transform: scale(150%);
                                    margin-right: 10px;
                                }
                            }
                            &.address {
                                .button {
                                    background-color: $blue;
                                    color: #fff;
                                    margin-left: 10px;
                                }
                                .row {
                                    margin-top: 20px;
                                    input {
                                        width: 100%;
                                    }
                                    .col {
                                        .select-wrap {
                                            width: 100%;
                                            max-width: 130px;
                                        }
                                    }
                                }
                                &.input-with-initial {
                                    .street {
                                        width: 100%;
                                        margin-top: 20px;
                                    }
                                }
                            }
                        }
                        input,
                        textarea {
                            width: 100%;
                            padding: 10px;
                            border-radius: 4px;
                            border: 1px solid $gray;
                            &.country-num {
                                width: 90%;
                            }
                        }
                        .select-wrap {
                            position: relative;
                            width: 100%;
                            max-width: 480px;
                            border-radius: 4px;
                            &::after {
                                font-size: 1rem;
                                position: absolute;
                                right: 10px;
                                top: calc(50% - 13px);
                                font-family: "Font Awesome 5 Free";
                                font-weight: 900;
                                content: "\f078";
                            }
                            select {
                                @include form_input;
                                background-color: #fff;
                                text-overflow: ellipsis;
                                outline: none;
                                background-image: none;
                                box-shadow: none;
                                -webkit-appearance: none;
                                appearance: none;
                                padding-right: 20px;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .condition {
                    border-top: 1px solid $gray;
                    .head {
                        width: 100%;
                        max-width: 600px;
                        margin: 0 auto;
                        margin-top: 50px;
                    }
                    .text-wrap {
                        width: 100%;
                        max-width: 600px;
                        margin: 0 auto;
                        max-height: 219px;
                        overflow-y: scroll;
                        margin-top: 50px;
                    }
                }
                .text,
                .privacy {
                    width: 100%;
                    max-width: 800px;
                    margin: 0 auto;
                }
                .agreement {
                    text-align: center;
                    margin-top: 30px;
                    input {
                        transform: scale(150%);
                        margin-right: 10px;
                    }
                }
                .btn-wrap {
                    position: relative;
                    max-width: 400px;
                    margin: 0 auto;
                    &::after {
                        position: absolute;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f105";
                        right: 20px;
                        top: calc(50% - 15px);
                        color: #fff;
                    }
                    .button {
                        @include btn;
                        background-color: $blue02;
                        padding: 10px;
                        color: #fff;
                        border-radius: 40px;
                        font-size: 2rem;
                        margin-top: 40px;
                    }
                }
                .link {
                    text-align: center;
                    margin-top: 80px;
                }
            }
        }
    }
}

.main.signup-form-conf {
    .section-content {
        .inner {
            .form {
                width: 100%;
                margin-top: 60px;
                text-align: center;
                table {
                    width: 100%;
                    border-bottom: 1px solid $gray;
                    tr {
                        @include flex;
                        @include wrap;
                        width: 100%;
                        >th {
                            width: 100%;
                            text-align-last: left;
                            padding: 20px 0;
                            padding-right: 50px;
                            position: relative;
                            font-weight: normal;
                            font-size: 1.6rem;
                            // &::after {
                            //     content: "任意";
                            //     position: absolute;
                            //     padding: 0 4px;
                            //     background-color: #888888;
                            //     color: #fff;
                            //     top: 20px;
                            //     right: 0px;
                            //     @media screen and (min-width: $tablet) {
                            //         right: 20px;
                            //     }
                            // }
                            &.reqired {
                                span {
                                    position: relative;
                                    &::after {
                                        content: "必須";
                                        padding: 0 2px;
                                        position: absolute;
                                        background-color: $red;
                                        color: #fff;
                                        right: -70px;
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                            &.mine {
                                span {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                        td {
                            width: 100%;
                            padding-top: 0px;
                            padding-bottom: 20px;
                            text-align: left;
                        }
                    }
                }
                .agreement {
                    .fa-check {
                        color: $blue;
                    }
                }
            }
            .button {
                @include btn;
                max-width: 360px;
                padding: 20px 0;
                background-color: $blue02;
                border-radius: 40px;
                color: #fff;
                margin-top: 30px;
            }
        }
    }
}

main.signup-form-thx {
    width: 100%;
    .section-content {
        padding-top: 60px;
        padding-bottom: 100px;
        .inner {
            @include inner;
            max-width: 800px;
            >.head {
                font-size: 3.2rem;
                line-height: 3.6rem;
                text-align: center;
                .fa-check-circle {
                    color: $blue02;
                    font-size: 4rem;
                }
            }
            .caption {
                text-align: center;
                font-size: 2.4rem;
                margin-top: 40px;
            }
            .text {
                text-align: center;
                margin-top: 40px;
            }
            .button {
                @include btn;
                background-color: $blue02;
                padding: 10px;
                color: #fff;
                border-radius: 40px;
                font-size: 2.2rem;
                margin-top: 40px;
                max-width: 345px;
            }
        }
    }
}