main.travel-content,
main.travel-content-category,
main.travel-content-post {
    .section-content {
        >.inner {
            >.head {
                font-size: 2.8rem;
                color: $green;
                padding-bottom: 15px;
                border-bottom: 2px solid $gray;
            }
            >.sub-head {
                color: $green;
                font-size: 2.4rem;
                margin-top: 20px;
            }
        }
        &.popular,
        &.latest,
        &.ranking,
        &.themes,
        &.posts {
            padding-bottom: 100px;
            .swiper-container-wrapper {
                @include post-slide;
            }
            .button {
                @include btn-color;
                padding: 10px 0;
                font-size: 2rem;
                margin-top: 40px;
            }
            .post {
                @include post;
            }
            .pagination-pc {
                @include pagination-pc;
            }
            .pagination-sp {
                @include pagination-sp;
            }
        }
        &.ranking {
            @include ranking;
        }
        &.themes {
            .inner {
                .head {
                    margin-top: 80px;
                }
            }
        }
        &.entry-content {
            position: relative;
            padding-top: 60px;
            >.inner {
                padding: 0;
                .post-info {
                    .id {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .like {
                        position: absolute;
                        right: 0;
                        top: 0;
                        border: 1px solid $gray;
                        padding: 0 10px;
                        border-radius: 4px;
                        &:hover {
                            cursor: pointer;
                        }
                        &.liked {
                            .far {
                                display: none;
                            }
                            .fas {
                                display: inline-block;
                            }
                        }
                        .far {
                            display: inline-block;
                            color: $red;
                        }
                        .fas {
                            display: none;
                            color: $red;
                        }
                    }
                    .title {
                        font-size: 2.4rem;
                        font-weight: bold;
                        color: $blue;
                        margin-top: 15px;
                        &.new {
                            padding-left: 40px;
                            position: relative;
                            &:before {
                                content: 'NEW';
                                color: $red;
                                font-size: 1.4rem;
                                position: absolute;
                                left: 0;
                                top: 0;
                            }
                        }
                    }
                    .sub-title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
                .box {
                    .date {
                        margin-top: 40px;
                    }
                    .fas {
                        color: $black;
                        margin-right: 10px;
                    }
                    .theme-category {
                        color: $blue02;
                        background-image: url(assets/img/suitcase.svg);
                        background-repeat: no-repeat;
                        background-size: 12px;
                        background-position: left center;
                        padding-left: 24px;
                    }
                }
                .tags {
                    @include flex;
                    @include wrap;
                    list-style-type: none;
                    li {
                        margin-right: 10px;
                        margin-top: 10px;
                        a {
                            color: $black;
                            padding: 0 10px;
                            background-color: $gray;
                            text-decoration: none;
                        }
                    }
                }
                >.row {
                    margin-top: 30px;
                    .col {
                        .swiper-container-travel-content-post-wrapper {
                            position: relative;
                            overflow: hidden;
                            padding-bottom: 40px;
                            .swiper-slide {
                                position: relative;
                                img {
                                    @include img;
                                }
                                .caption {
                                    position: absolute;
                                    bottom: 0;
                                    background-color: rgba(0, 0, 0, 0.7);
                                    color: #fff;
                                    font-size: 1.2rem;
                                    padding: 0 5px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                            }
                        }
                        .copy {
                            font-size: 2rem;
                        }
                        .text {
                            margin-top: 60px;
                        }
                        .swiper-button-prev,
                        .swiper-button-next {
                            &::after {
                                content: '';
                            }
                        }
                        .swiper-pagination-travel-content-post {
                            .swiper-pagination-bullet {
                                background-color: #fff;
                                border: 1px solid $black;
                                &.swiper-pagination-bullet-active {
                                    background-color: #707070;
                                }
                            }
                        }
                    }
                }
                .content {
                    padding-bottom: 60px;
                    .row {
                        margin-top: 60px;
                        .col {
                            margin-top: 10px;
                            a {
                                display: block;
                                background-color: $blue02;
                                color: #fff;
                                border-radius: 4px;
                                text-align: center;
                                text-decoration: none;
                            }
                        }
                    }
                    .head {
                        font-size: 2.4rem;
                        margin-top: 35px;
                    }
                    table {
                        width: 100%;
                        thead {
                            tr {
                                @include flex;
                                @include sb;
                                @include stretch;
                                height: auto !important;
                                th {
                                    border-bottom: 1px solid $gray;
                                    width: 100%;
                                    max-width: 250px;
                                    padding: 15px 0;
                                    color: #fff;
                                    font-weight: bold;
                                    display: table-cell;
                                    text-align: center;
                                    vertical-align: middle;
                                    line-height: 2rem;
                                    font-weight: normal;
                                    border-right: 1px solid #fff;
                                    height: auto !important;
                                    &:last-child {
                                        border-left: none;
                                    }
                                }
                            }
                        }
                        tbody {
                            tr {
                                @include flex;
                                height: auto !important;
                                th {
                                    width: 100%;
                                    max-width: 250px;
                                    display: block;
                                    padding: 15px;
                                    border-bottom: 1px solid $gray;
                                    font-weight: bold;
                                    text-align: left;
                                    line-height: 2rem;
                                    height: auto !important;
                                }
                                td {
                                    width: 100%;
                                    display: block;
                                    padding: 15px;
                                    border-bottom: 1px solid $gray;
                                    background-color: #fff;
                                    line-height: 3rem;
                                    height: auto !important;
                                }
                            }
                        }
                    }
                    .menu {
                        .acordion-head {
                            @include flex;
                            @include wrap;
                            padding: 30px 20px;
                            margin-top: 20px;
                            padding-right: 60px;
                            position: relative;
                            border-bottom: 1px solid $gray;
                            &:hover {
                                cursor: pointer;
                            }
                            &::after {
                                content: '+';
                                position: absolute;
                                right: 20px;
                                font-size: 2rem;
                                top: calc(50% - 15px);
                            }
                            &.shown {
                                background-color: $blue03;
                                &::after {
                                    content: '-';
                                }
                            }
                            .checkbox,
                            .title,
                            .id {
                                margin-top: auto;
                                margin-bottom: auto;
                                font-size: 2rem;
                            }
                            .title {
                                margin-left: 30px;
                            }
                            .id {
                                margin-left: auto;
                            }
                        }
                    }
                    .map {
                        .text {
                            font-size: 1.6rem;
                            margin-top: 30px;
                        }
                        .map-wrap {
                            margin-top: 30px;
                            iframe {
                                width: 100%;
                            }
                        }
                    }
                    .target,
                    .cancel {
                        ul {
                            margin-top: 30px;
                            padding-left: 20px;
                            li {
                                font-size: 1.6rem;
                            }
                        }
                    }
                    .partner {
                        .col {
                            img {
                                @include img;
                            }
                        }
                    }
                }
            }
        }
        &.pickup {
            padding-bottom: 100px;
            .head {
                margin-top: 80px;
            }
            .swiper-container-wrapper {
                position: relative;
                @include post-slide;
                .pager {
                    .swiper-button-prev,
                    .swiper-button-next {
                        width: 44px;
                        background-image: none;
                    }
                    .swiper-button-prev {
                        left: 0;
                    }
                    .swiper-button-next {
                        right: 0;
                    }
                }
            }
        }
    }
}

.contents-wrap .main-aside-wrap .aside .box {
    &.travel-content-post {
        position: fixed;
        z-index: 9997;
        right: 0;
        bottom: 0;
        border: 1px solid $gray;
        background-color: #fff;
        margin-bottom: 0;
        width: 100%;
        padding: 10px 20px;
        @media screen and (min-width: $tablet) {
            border-radius: 10px;
            right: 20px;
            bottom: initial;
            max-width: 340px;
            padding: 30px 20px;
        }
        @media screen and (min-width: 1280px) {
            right: calc(50vw - 640px);
        }
        .title {
            display: none;
            color: $blue;
            padding-bottom: 35px;
            border-bottom: 1px solid $gray;
            @media screen and (min-width: $tablet) {
                display: block;
            }
        }
        dl {
            border-bottom: 1px solid $gray;
            padding-bottom: 10px;
            margin-top: 0px;
            @media screen and (min-width: $tablet) {
                margin-top: 10px;
            }
            dt {
                display: none;
                @media screen and (min-width: $tablet) {
                    display: block;
                }
            }
            dd {
                .error {
                    color: $red;
                }
            }
        }
        table {
            margin-top: 10px;
            th {
                text-align: left;
                min-width: 110px;
                color: $gray02;
            }
        }
        .button {
            @include btn;
            margin-top: 20px;
            border-radius: 40px;
            padding: 10px;
            background-color: $blue02;
            color: #fff;
        }
    }
}